<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.archimatetool.editor.importHandler">
      <importHandler2
            class="com.archimatetool.portico.PorticoImportProvider"
            id="com.archimatetool.portico.importHandler"
            label="Model into Current Model...">
      </importHandler2>
   </extension>
</plugin>
